# Build
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json
*.cmake
Makefile

# Binaries
*.o
*.a
*.so
*.dylib
*.exe

# IDE
.vscode/
.idea/
*.user

# Doxygen
docs/doxygen/html/

# OS
.DS_Store
Thumbs.db
